/* Definindo todas as minhas fontes para Verdana*/

*{
	font-family: verdana;

}

/*CABECALHO*/

.cabecalho{
	/* Aqui eu defino a largura e cor do cabeçalho*/
	background-color: #1C1C1C;
	width: 100%;
}

.cabecalho h1{
	/* definindo o h1 do meu cabeçalho*/
	color: white;
	margin-top: 0px;
	padding-top: 20px;
	padding-left: 20px;
}

.cabecalho p{
	/* estilizando meu paragrafo do cabeçalho*/
	color: white;
	padding-left: 35px;

}

.cabecalho img{
	/* Aqui eu coloco minha imagem centralizada*/
	display: block;
	margin: 0px auto;
	padding-bottom: 20px
}

/*MENU*/
.menu{
	/*definindo a cor e preenchimento do meu menu */
	background-color: red;
	padding-top: 15px;
	padding-bottom: 40px;
}

.menu li{
	/* Aqui eu coloco meu menu na horizontal */
	display: inline;
	padding-right: 25px;
	list-style-type: none;
	float: left;
	padding-bottom: 15px;
}

.menu li a{
	/*estilizando o link do menu*/
	color: #9d9d9d;
	text-decoration: none;
	font-size: 20px;
}

.menu li a:hover{
	color: white;
}

/*SOCIAL-ICONS*/

.social-icons{
	/* Aqui eu coloco os icones para contato*/ 
	float: right;
	padding-right: 15px;
}

.social-icons a{
	color: #fff;
	float: left;
	margin-left: 12px;

}


/*PRINCIPAL*/

.principal h1{
	/*Esse h1 só serve para a página de aberturas e  encerramentos já que ´são os únicos h1 que tem no conteúdo principal*/
	padding-left: 20px;
}

.principal h2{
	/* padronização dos h2 para descolar da tela*/
	padding-left: 20px;
}

.principal iframe{
	/* este iframe também pertence ao aberturas, só coloco meus iframes centralizados*/
	display: block;
	margin: auto;
	padding-bottom: 20px
}

.principal p{
	/* estilizando meus parágrafos, só ajusto a fonte e aplico um preenchimento básico*/
	font-size: 25px;
	text-align: justify;
	padding-left: 30px;
	padding-right: 30px;
}

.principal img{
	/* padronização das imagens para uma certa largura */
	width: 700px;
	display: block;
	margin: auto;
}

/* RODAPE */

.rodape{
	/* no rodape eu deixo a mesma cor do cabeçalho para combinação de cores */
	background-color: #1C1C1C;
	padding-top: 15px;
	padding-bottom: 40px;
}

.rodape li{
	/*Aqui eu utilizo os mesmos itens do menu e flutuam a direita*/
	padding-right: 25px;
	list-style-type: none;
	padding-bottom: 15px;
	float: right;
}

.rodape li a{
	color: #9d9d9d;
	text-decoration: none;
	font-size: 20px;
}

.rodape li a:hover{
	color: white;
}

.sobre{
	/* esse sobre é um pouco das minhas palavras e sobre mim*/
	text-align: justify;
	color: white;
	padding-bottom: 50px;

}

.sobre h2{
	padding-left: 20px;
}

.sobre p{
	padding-left: 30px;
	padding-right: 30px;
	font-size: 20px;
}