/* Definindo todas as minhas fontes para Verdana*/

*{
	font-family: verdana;

}

/*CABECALHO*/

.cabecalho{
	background-color: green;
	width: 100%
}

.cabecalho h1{
	margin-top: 0px;
	padding-top: 20px;
	padding-left: 20px;
}

.cabecalho p{
	padding-left: 35px;

}

.cabecalho img{
	display: block;
	margin: 0px auto;
	padding-bottom: 20px
}

/*MENU*/
.menu{
	background-color: red;
	padding-top: 15px;
	padding-bottom: 40px;
}

.menu li{
	display: inline;
	padding-right: 25px;
	list-style-type: none;
	float: left;
	padding-bottom: 15px;
}

.menu li a{
	color: #9d9d9d;
	text-decoration: none;
	font-size: 20px;
}

.menu li a:hover{
	color: white;
}

/*SOCIAL-ICONS*/

.social-icons{
	/* Aqui eu fiz os icones irem pra esquerda*/
	float: right;
	padding-right: 15px;
}

.social-icons a{
	/* Neste eu estilizei os links e espacei*/
	color: #fff;
	float: left;
	margin-left: 12px;

}


/*PRINCIPAL*/

.principal h2{
	padding-left: 20px;
}

.principal p{
	font-size: 25px;
	text-align: justify;
	padding-left: 30px;
	padding-right: 30px;
}

.principal img{
	width: 700px;
	display: block;
	margin: auto;
}